/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * bizyutukan.css "美術館"
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * 
 * 制作者：虹川郷鬼
 * 
 * This just exists to set the default state of the togglable <div> elements to 
 * "none".
 * 
 */

/* NSFW :3 */
div.nsfw {
    display: none;
}

/* No NSFW */
div#NoNsfw {
    display: none;
}

/* YOU SICK FUCK!! */
div#YouSickFuck {
    display: none;
}