/* ＃＃＃＃＃＃＃＃＃＃
 * ＃ bizyutukan.css ＃
 * ＃＃＃＃＃＃＃＃＃＃
 *
 * This just exists to set the default state of the togglable
 * <div> elements to "none".
 *
 */

/* NSFW :3 */
div#nsfw0 {
    display: none;
}

div#nsfw1 {
    display: none;
}

div#nsfw2 {
    display: none;
}

div#nsfw3 {
    display: none;
}

div#nsfw4 {
    display: none;
}

div#nsfw5 {
    display: none;
}

div#nsfw6 {
    display: none;
}

div#nsfw7 {
    display: none;
}

div#nsfw8 {
    display: none;
}

div#nsfw9 {
    display: none;
}

div#nsfw10 {
    display: none;
}

div#nsfw11 {
    display: none;
}

div#nsfw12 {
    display: none;
}

div#nsfw13 {
    display: none;
}

div#nsfw14 {
    display: none;
}

div#nsfw15 {
    display: none;
}
