/* ============================================================================
 * default.css
 * ============================================================================
 * 
 * 制作者：虹川郷鬼
 * 
 * This is the general stylesheet.
 * 
 */

/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\  *
 * Importing web fonts
 * \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/  */

/* Noto Sans Japanese */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP');

/* Noto Serif Japanese */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP');

/* Noto Sans Myanmar */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Myanmar');

/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans');

/* Noto Sans Simplified Chinese */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC');

/* Noto Sans Traditional Chinese */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC');

/* Noto Serif Devanagari */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari');

/* Noto Sans Georgian */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian');

/* Noto Sans Korean */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR');

/* Noto Sans Malayalam */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam');

/* Noto Sans Mongolian */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mongolian');

/* Noto Naskh Arabic */
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic');

/* Noto Nastaliq Urdu */
@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu');

/* Noto Serif Tibetan */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Tibetan');

/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\  *
 * Main stylesheets
 * \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/  */

/* ------------------------------------------------------------------------- *
 * Stylesheet for the entire document body
 * ------------------------------------------------------------------------- */

body {
    background-color: #121212;
    padding-right: 2px;
    padding-left: 2px;
}

/* ------------------------------------------------------------------------- *
 * Stylesheet for paragraphs
 * ------------------------------------------------------------------------- */

/* _default */
p {
    font-family: 'ヒラギノ丸ゴ Pro W4', 'Hiragino Maru Gothic Pro', 'Noto Sans CJK JP', 'ＭＳ ゴシック', 'MS Gothic', 'Noto Sans JP', sans-serif;
    color: #e5e5e5;
    font-size: 1.25em;
}

/* Captions! */
p.caption {
    padding: 0px;
    margin: 2px;
    color: #ffffff;
}

/* COMING AT SOME POINT!! */
p.coming-soon {
    text-align: center;
    font-size: 10.67em;
    font-family: 'HGTakahashiReishotai', 'ヒラギノ明朝 Pro', 'Hiragino Mincho Pro W6', 'Noto Serif CJK JP', 'ＭＳ 明朝', 'MS Mincho', 'Noto Serif JP', serif;
}

/* Pride heading */
p.pride-head {
    text-align: center;
    font-size: 1.7em;
    font-family: 'ヒラギノ角ゴ Std W8', 'Hiragino Kaku Gothic Std', 'Noto Sans CJK JP Black', 'ＭＳ ゴシック', 'MS Gothic', 'Noto Sans JP', sans-serif;
    color: #000000;
}

/* Pronouns */
p.pronouns {
    padding-left: 2px;
    font-size: 1.4em;
    font-family: 'ヒラギノ丸ゴ Pro W4', 'Hiragino Maru Gothic Pro', 'Noto Sans CJK JP', 'ＭＳ ゴシック', 'MS Gothic', 'Noto Sans JP', sans-serif;
    color: #000000;
}

/* ------------------------------------------------------------------------- *
 * Stylesheet for anchor links
 * ------------------------------------------------------------------------- */

/* _default */
a {
    font-family: 'ヒラギノ丸ゴ Pro W4', 'Hiragino Maru Gothic Pro', 'Noto Sans CJK JP', 'ＭＳ ゴシック', 'MS Gothic', 'Noto Sans JP', sans-serif;
    font-size: 1.25em;
}

/* Unvisited links */
a:link {
    color: #99c3ff;
}

/* ------------------------------------------------------------------------- *
 * Stylesheet for headings
 * ------------------------------------------------------------------------- */

/* _default (Heading 1 / #) */
h1 {
    font-size: 2.63em;
    font-family: 'HGTakahashiReishotai', 'ヒラギノ明朝 Pro W6', 'Hiragino Mincho Pro', 'Noto Serif CJK JP', 'ＭＳ 明朝', 'MS Mincho', 'Noto Serif JP', serif;
    color: #e5e5e5;
    line-height: 1em;
    margin-bottom: auto;
    text-align: center;
}

/* Header text */
h1.header-text {
    font-family: 'HGTakahashiReishotai', 'ヒラギノ角ゴ Std W8', 'Hiragino Kaku Gothic Std', 'Noto Sans CJK JP Black', 'ＭＳ ゴシック', 'MS Gothic', 'Noto Sans JP', sans-serif;
    font-size: 2.25em;
}

/* Alternate font */
h1.alternate-font {
    font-family: 'LiSu', 'HGTakahashiReishotai', 'ヒラギノ明朝 Pro W6', 'Hiragino Mincho Pro', 'Noto Serif CJK JP', 'ＭＳ 明朝', 'MS Mincho', 'Noto Serif JP', serif;
}

/* _default (Heading 2 / ##) */
h2 {
    font-size: 2.31em;
    font-family: 'HGTakahashiReishotai', 'ヒラギノ明朝 Pro W6', 'Hiragino Mincho Pro', 'Noto Serif CJK JP', 'ＭＳ 明朝', 'MS Mincho', 'Noto Serif JP', serif;
    color: #e5e5e5;
    line-height: 1em;
    margin-bottom: auto;
    text-align: center;
}

/* Gallery Headings */
h2.art-heading {
    text-align: left;
}

/* Alternate font */
h2.alternate-font {
     font-family: 'LiSu', 'HGTakahashiReishotai', 'ヒラギノ明朝 Pro W6', 'Hiragino Mincho Pro', 'Noto Serif CJK JP', 'ＭＳ 明朝', 'MS Mincho', 'Noto Serif JP', serif;
}

/* For the section headings on the staff credits page */
h2.credits-head {
    font-family: 'HGTakahashiReishotai', 'ヒラギノ明朝 Pro W6', 'Hiragino Mincho Pro', 'Noto Serif CJK JP', 'ＭＳ 明朝', 'MS Mincho', 'Noto Serif JP', serif;
}

/* _default (Heading 3 / ###) */
h3 {
    font-size: 2em;
    font-family: 'HGTakahashiReishotai', 'ヒラギノ明朝 Pro W6', 'Hiragino Mincho Pro', 'Noto Serif CJK JP', 'ＭＳ 明朝', 'MS Mincho', 'Noto Serif JP', serif;
    color: #e5e5e5;
    line-height: 1em;
    margin-bottom: auto;
    text-align: center;
}

/* Alternate font */
h3.alternate-font {
    font-family: 'LiSu', 'HGTakahashiReishotai', 'ヒラギノ明朝 Pro W6', 'Hiragino Mincho Pro', 'Noto Serif CJK JP', 'ＭＳ 明朝', 'MS Mincho', 'Noto Serif JP', serif;
}

/* _default (Heading 4 / ####) */
h4 {
    font-size: 1.5em;
    font-family: 'ヒラギノ角ゴ Pro W6', 'Hiragino Kaku Gothic Pro', 'Noto Sans CJK JP', 'ＭＳ ゴシック', 'MS Gothic', 'Noto Sans JP', sans-serif;
    color: #e5e5e5;
    line-height: 1em;
    margin-bottom: auto;
    text-align: center;
}

/* For the section headings on the staff credits page */
h4.credits-head {
    font-family: 'HGTakahashiReishotai', 'ヒラギノ明朝 Pro W6', 'Hiragino Mincho Pro', 'Noto Serif CJK JP', 'ＭＳ 明朝', 'MS Mincho', 'Noto Serif JP', serif;
}

/* _default (Heading 5 / #####) */
h5 {
    font-size: 1.31em;
    font-family: 'ヒラギノ角ゴ Pro W6', 'Hiragino Kaku Gothic Pro', 'Noto Sans CJK JP', 'ＭＳ ゴシック', 'MS Gothic', 'Noto Sans JP', sans-serif;
    color: #e5e5e5;
    line-height: 1em;
    margin-bottom: auto;
    text-align: center;
}

/* ------------------------------------------------------------------------- *
 * Stylesheet for furigana
 * ------------------------------------------------------------------------- */

/* _default */
rt {
    font-size: 0.55em; /* see https://www.w3.org/TR/jlreq/?lang=en#ruby_and_emphasis_dots for more details */
}

/* For furigana on <h2> elements */
rt.head-furigana {
    font-size: 37%;
}

/* For the heading furigana in the summary page */
rt.top-head-furigana {
    font-size: 50%;
}

/* ------------------------------------------------------------------------- *
 * Stylesheet for header
 * ------------------------------------------------------------------------- */

/* _default */
header {
    background-color: #7f7f7f;
    padding: 4px;
    text-align: center;
}

/* ------------------------------------------------------------------------- *
 * Stylesheet for articles
 * ------------------------------------------------------------------------- */

/* _default */
article {
    padding: 4px;
    margin: 4px;
}

/* ------------------------------------------------------------------------- *
 * Stylesheet for sections
 * ------------------------------------------------------------------------- */

/* _default */
section {
    padding: 4px;
}

/* ------------------------------------------------------------------------- *
 * Stylesheet for footer
 * ------------------------------------------------------------------------- */

/* _default */
footer {
    background-color: #1f1f1f;
    padding: 8px;
    text-align: center;
    color: #ffffff;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Noto Sans CJK JP', 'ＭＳ ゴシック', 'MS Gothic', 'Noto Sans JP', sans-serif;
}

/* ------------------------------------------------------------------------- *\
 * Stylesheet for figures and figure captions                                *
\* ------------------------------------------------------------------------- */

/* _default */
figure, figcaption {}

/* Character art */
figure.art-chara {
    float: right;
    box-sizing: border-box;
    border-style: ridge;
    border-width: 5px;
    border-color: #666666;
    padding: 1px;
    margin: 4px;
    background-color: #666666;
}

/* Gallery art */
figure.art-gallery {
    float: left;
    box-sizing: border-box;
    border-style: ridge;
    border-width: 5px;
    border-color: #666666;
    padding: 1px;
    margin: 8px;
    background-color: #666666;
    width: 272px;
}

figcaption.caption {
    padding: 0px;
    margin: 2px;
    color: #ffffff;
    font-family: 'ヒラギノ丸ゴ Pro W4', 'Hiragino Maru Gothic Pro', 'Noto Sans CJK JP', 'ＭＳ ゴシック', 'MS Gothic', 'Noto Sans JP', sans-serif;
    font-size: 1.25em;
}

/* ------------------------------------------------------------------------- *
 * Stylesheet for buttons
 * ------------------------------------------------------------------------- */

/* _default */
button {
    font-family: 'ヒラギノ丸ゴ Pro W4', 'Hiragino Maru Gothic Pro', 'Noto Sans CJK JP', 'ＭＳ ゴシック', 'MS Gothic', 'Noto Sans JP', sans-serif;
    font-size: 1em;
}

/* ------------------------------------------------------------------------- *
 * Stylesheet for images
 * ------------------------------------------------------------------------- */

/* _default */
img {}

/* Main Character Art */
img.art {
    border-style: groove;
    border-width: 2px;
    border-color: #fefefa;
    width: 256px;
}

/* Gallery character art */
img.gallery-art {
    border-style: groove;
    border-width: 2px;
    border-color: #fefefa;
    width: 256px;
}

/* Gallery character art (alternative) */
img.gallery-art-alt {
    border-style: groove;
    border-width: 2px;
    border-color: #fefefa;
    height: 256px;
}

/* Pride flags! :3 */
img.pride-flag {
    border-style: groove;
    border-width: 2px;
    border-color: #fefefa;
    width: 300px;
    height: 180px;
}

/* Reference sheets */
img.reference-art {
    border-style: groove;
    border-width: 2px;
    border-color: #fefefa;
    width: 400px;
}

/* Reference sheets (alternative) */
img.reference-art-alt {
    border-style: groove;
    border-width: 2px;
    border-color: #fefefa;
    height: 320px;
}

/* Title art */
img.title-art {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ------------------------------------------------------------------------- *
 * Stylesheet for main content
 * ------------------------------------------------------------------------- */

/* _default */
main {}

/* For the staff credits page */
main.credits {
    text-align: center;
}

/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\  *
 * <span> stylesheets
 * \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/  */

/* ------------------------------------------------------------------------- *
 * Per-language fonts
 * ------------------------------------------------------------------------- */

/* Burmese script */
span.burmese-font {
    font-family: 'Pyidaungsu', 'Noto Sans Myanmar UI', 'Myanmar Text', 'Noto Sans Myanmar', sans-serif;
    font-size: 130%;
}

/* Cyrillic alphabet */
span.cyrillic-font {
    font-family: 'Arimo', 'Linux Biolinum', 'Arial', 'Noto Sans', sans-serif;
}

/* Simplified Chinese */
span.simplified-hanzi-font {
    font-family: 'Noto Sans CJK SC', 'KaiTi', 'Noto Sans SC', sans-serif;
}

/* Traditional Chinese */
span.traditional-hanzi-font {
    font-family: 'Noto Sans CJK TC', 'DFKai-SB', 'Noto Sans TC', sans-serif;
}

/* Devanagari */
span.devanagari-font {
    font-family: 'Chandas', 'Sanskrit Text', 'Mangal', 'Noto Serif Devanagari', serif;
    font-size: 130%;
}

/* Georgian script */
span.georgian-font {
    font-family: 'Sylfaen', 'Noto Sans Georgian', serif;
}

/* Greek alphabet */
span.greek-font {
    font-family: 'Arimo', 'Linux Biolinum', 'Arial', 'Noto Sans', sans-serif;
}

/* Korean - Hangul */
span.hangul-font {
    font-family: 'Noto Sans CJK KR', 'Gulim', 'Noto Sans KR', sans-serif;
}

/* Korean - Hanja */
span.hanja-font {
    font-family: 'Noto Sans CJK KR', 'Gulim', 'Noto Sans KR', sans-serif;
}

/* Latin alphabet */
span.latin-font {
    font-family: 'Arimo', 'Linux Biolinum', 'Arial', 'Noto Sans', sans-serif;
}

/* Malayalam script */
span.malayalam-font {
    font-family: 'Gayathri', 'Noto Sans Malayalam', sans-serif;
    font-size: 125%;
}

/* Mongolian script */
span.mongolian-font {
    font-family: 'Menk Hawang Tig', 'Menk Qagan Tig', 'Menk Garqag Tig', 'Menk Har_a Tig', 'Menk Scnin Tig', 'Oyun Gurban Ulus Tig', 'Oyun Qagan Tig', 'Oyun Garqag Tig', 'Oyun Har_a Tig', 'Oyun Scnin Tig', 'Oyun Agula Tig', 'Mongolian Baiti', 'Mongolian Universal White', 'Mongol Usug', 'Mongolian White', 'MongolianScript', 'Code2000', 'Menksoft Qagan', 'Noto Sans Mongolian', serif;
    font-size: 130%;
}

/* Perso-Arabic script - Naskh */
span.naskh-font {
    font-family: 'Noto Naskh Arabic UI', 'Arabic Typesetting', 'Dubai', 'Noto Naskh Arabic', serif;
    font-size: 130%;
}

/* Perso-Arabic script - Nastaliq */
span.nastaliq-font {
    font-family: 'Urdu Typesetting', 'Noto Nastaliq Urdu', serif;
    font-size: 130%;
}

/* Tibetan script */
span.tibetan-font {
    font-family: 'Tibetan Machine Uni', 'BabelStone Tibetan Slim', 'BabelStone Tibetan', 'Noto Serif Tibetan', serif;
    font-size: 130%;
}

/* ------------------------------------------------------------------------- *
 * Classes for oblique and italic type
 * ------------------------------------------------------------------------- *
 * 
 * For when the usage of <em> is not appropriate, i.e. Latinised text for re-
 * presenting text from languages that don't use the Latin alphabet, etc.
 * 
 */

/* Oblique type */
span.oblique {
    font-style: oblique;
}

/* Italic type */
span.italics {
    font-style: italic;
}

/* ------------------------------------------------------------------------- *
 * Textual setup and other <span> classes
 * ------------------------------------------------------------------------- */

/* Old or obsolete writing system notes */
span.old-text {
    color: #cd0000;
}

/* Textual setup for Mongolian script */
span.mongolian-text {
    display: inline-block;
    font-weight: normal;
    line-height: 1.1em;
    -webkit-writing-mode: vertical-lr; /* Needed by Safari */
    -o-writing-mode: vertical-lr; /* Needed by Opera */
    -ms-writing-mode: tb-lr; /* Needed by Internet Explorer (People still use that?!) */
    /*writing-mode: tb-lr;*/ /* Only uncomment if truly needed!! */
    writing-mode: vertical-lr;
    text-orientation: sideways;
    vertical-align: top;
}

/* Neopronoun and xenopronoun demonstration */
span.neopronoun-demo, span.subjective-pronoun, span.objective-pronoun,
span.possessive-determiner-pronoun, span.possessive-pronoun,
span.reflexive-pronoun {
    font-family: 'Arimo', 'Linux Biolinum', 'Arial', 'Noto Sans', sans-serif;
}

/* ------------------------------------------------------------------------- *
 * Semantic class names for fictional languages
 * ------------------------------------------------------------------------- */

/* Frualbuqash */
span.frualbuqash-language {
    font-family: 'Arimo', 'Linux Biolinum', 'Arial', 'Noto Sans', sans-serif;
}

/* Ilbåsk (for both Spålméaakeln and Elesüükeln) */
span.ilbask-language {
    font-family: 'Arimo', 'Linux Biolinum', 'Arial', 'Noto Sans', sans-serif;
}

/* Neph */
span.neph-language {
    font-family: 'Arimo', 'Linux Biolinum', 'Arial', 'Noto Sans', sans-serif;
}

/* Praanbabi */
span.praanbabi-language {
    font-family: 'Arimo', 'Linux Biolinum', 'Arial', 'Noto Sans', sans-serif;
}

/* Uuptari */
span.uuptari-language {
    font-family: 'Arimo', 'Linux Biolinum', 'Arial', 'Noto Sans', sans-serif;
}

/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\  *
 * <div> stylesheets
 * \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/  */

/* Gallery */
div.gallery {
    padding-top: 8px;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 0px;
}

/* Heading */
div.heading {
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 4px;
}

/* Sprites and accompanying captions */
div.sprite {
    float: right;
    box-sizing: border-box;
    border-style: ridge;
    border-width: 5px;
    border-color: #666666;
    padding: 1px;
    margin: 4px;
    background-color: #666666;
}

/* Character art and accompanying captions */
div.art-chara {
    float: right;
    box-sizing: border-box;
    border-style: ridge;
    border-width: 5px;
    border-color: #666666;
    padding: 1px;
    margin: 4px;
    background-color: #666666;
}

/* "Float Containment Unit"
   Inform site command in the event of a breach. */
div.containment-unit {
    display: flow-root;
}

/* Pride :3 */
div.pride {
    float: right;
    box-sizing: border-box;
    border-style: ridge;
    border-width: 5px;
    border-color: hotpink;
    padding: 1px;
    margin: 4px;
    background-color: hotpink;
    width: 316px;
}

/* Character reference sheets */
div.art-ref {
    float: left;
    box-sizing: border-box;
    border-style: ridge;
    border-width: 5px;
    border-color: #666666;
    padding: 1px;
    margin: 8px;
    background-color: #666666;
}

/* Character art inside the art gallery */
div.art-gallery {
    float: left;
    box-sizing: border-box;
    border-style: ridge;
    border-width: 5px;
    border-color: #666666;
    padding: 1px;
    margin: 8px;
    background-color: #666666;
    width: 272px;
}

/* ------------------------------------------------------------------------- *
 * Flexbox stylesheets
 * ------------------------------------------------------------------------- */

/* Art Gallery flexbox */
div.flex-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\  *
 * Archived stylesheets
 * \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/  *
 * 
 * These are only present down here for archival purposes. I'll prolly comment
 * them out later.
 * 
 */

/* Image borders */
img.border {
    border-style: groove;
    border-width: 2px;
    border-color: #FEFEFA;
}
