/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * ancient.css "旧神關里"
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * 
 * 制作者：虹川郷鬼
 * 
 * This just exists to set the default state of the togglable <div> elements to 
 * "none".
 * 
 */

/*  */
div# {
    display: none;
}

/*  */
div# {
    display: none;
}

/*  */
div# {
    display: none;
}

/*  */
div# {
    display: none;
}

/*  */
div# {
    display: none;
}

/*  */
div# {
    display: none;
}

/*  */
div# {
    display: none;
}

/*  */
div# {
    display: none;
}

/*  */
div# {
    display: none;
}
