/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * ancient.css "旧神關里"
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * 
 * 制作者：虹川郷鬼
 * 
 * This just exists to set the default state of the togglable <div> elements to 
 * "none".
 * 
 */

/* コウモリ */
div#bat {
    display: none;
}

/* スライム */
div#slime {
    display: none;
}

/* 氷スライム */
div#IceSlime {
    display: none;
}

/* 溶岩スライム */
div#LavaSlime {
    display: none;
}

/* オーク */
div#orc {
    display: none;
}

/* 地霊 */
div#EarthSpirit {
    display: none;
}

/* 火霊 */
div#FireSpirit {
    display: none;
}

/* 水霊 */
div#WaterSpirit {
    display: none;
}

/* 風霊 */
div#WindSpirit {
    display: none;
}

/* コカトリス */
div#cockatrice {
    display: none;
}

/* 妖精 */
div#fairy {
    display: none;
}

/* 氷妖精 */
div#FrostFairy {
    display: none;
}

/* 羅刹 */
div#rakshasa {
    display: none;
}
