/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * nizi.css ""
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * 
 * 制作者：虹川郷鬼
 * 
 * This just exists to set the default state of the togglable <div> elements to 
 * "none".
 * 
 */

/* Our System */
div#OurSystem {
    display: none;
}

/* Satoki Nijikawa */
div#SatokiNijikawa {
    display: none;
}
div#SatokiNijikawaPride {
    display: none;
}
div#SatokiNijikawaArt {
    display: none;
}

/* Wamo */
div#wamo {
    display: none;
}
div#wamoPride {
    display: none;
}
div#wamoArt {
    display: none;
}

/* Kiyoi */
div#kiyoi {
    display: none;
}
div#kiyoiPride {
    display: none;
}
div#kiyoiArt {
    display: none;
}

/* My Fursona(s) */
div#MyFursonas {
    display: none;
}

/* Youko */
div#youko {
    display: none;
}
div#youkoPride {
    display: none;
}
div#youkoArt {
    display: none;
}

/* OC's */
div#OriKyara {
    display: none;
}

/* Animus */
div#animus {
    display: none;
}
div#animusPride {
    display: none;
}
div#animusArt {
    display: none;
}

/* 'Ayn */
div#Ayn {
    display: none;
}
div#AynPride {
    display: none;
}
div#AynArt {
    display: none;
}

/* Bolormaa */
div#bolormaa {
    display: none;
}
div#bolormaaPride {
    display: none;
}
div#bolormaaArt {
    display: none;
}

/* Cuòwù */
div#Cuowu {
    display: none;
}
div#CuowuPride {
    display: none;
}
div#CuowuArt {
    display: none;
}

/* Hap P. Emo-shun */
div#HapP_Emoshun {
    display: none;
}
div#HapP_EmoshunPride {
    display: none;
}
div#HapP_EmoshunArt {
    display: none;
}

/* Idola */
div#idola {
    display: none;
}
div#idolaPride {
    display: none;
}
div#idolaArt {
    display: none;
}

/* My Shikigami */
div#MyShikigami {
    display: none;
}

/* Elisabed Khidirbegishvili-Garsevanishvili-Pirtskhalaishvili */
div#ElisabedKhidirbegishviliGarsevanishviliPirtskhalaishvili {
    display: none;
}
div#ElisabedKhidirbegishviliGarsevanishviliPirtskhalaishviliPride {
    display: none;
}
div#ElisabedKhidirbegishviliGarsevanishviliPirtskhalaishviliArt {
    display: none;
}

/* Olha Yukhymivna Lytvyna-Kostyuchenko */
div#OlhaYukhymivnaLytvynaKostyuchenko {
    display: none;
}
div#OlhaYukhymivnaLytvynaKostyuchenkoPride {
    display: none;
}
div#OlhaYukhymivnaLytvynaKostyuchenkoArt {
    display: none;
}

/* Maeng Song-Hee */
div#MaengSongHee {
    display: none;
}
div#MaengSongHeePride {
    display: none;
}
div#MaengSongHeeArt {
    display: none;
}

/* Kishihime Nuwesaka */
div#KishihimeNuwesaka {
    display: none;
}
div#KishihimeNuwesakaPride {
    display: none;
}
div#KishihimeNuwesakaArt {
    display: none;
}

/* Ilyinishna Makarovna Obraztsova-Sluchevskaya */
div#IlyinishnaMakarovnaObraztsovaSluchevskaya {
    display: none;
}
div#IlyinishnaMakarovnaObraztsovaSluchevskayaPride {
    display: none;
}
div#IlyinishnaMakarovnaObraztsovaSluchevskayaArt {
    display: none;
}

/* Sanda Khaing Theingi Htet */
div#SandaKhaingTheingiHtet {
    display: none;
}
div#SandaKhaingTheingiHtetPride {
    display: none;
}
div#SandaKhaingTheingiHtetArt {
    display: none;
}

/* Scarlett Williams */
div#ScarlettWilliams {
    display: none;
}
div#ScarlettWilliamsPride {
    display: none;
}
div#ScarlettWilliamsArt {
    display: none;
}