/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * ushie.css "宇志江王国"
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * 
 * 制作者：虹川郷鬼
 * 
 * This just exists to set the default state of the togglable <div> elements to 
 * "none".
 * 
 */

/* 宇志江町 */
div#UshieTown {
    display: none;
}

/* 朝愛 */
div#AiAsa {
    display: none;
}

/* ハイディ・ブラザーウィック */
div#HeidiBlatherwick {
    display: none;
}

/* 恵田満菜魏沙 */
div#NagisaEdamitsu {
    display: none;
}

/* 藤森しげまつ */
div#ShigematsuFujimori {
    display: none;
}

/* 藤山葉菜子 */
div#HanakoFujiyama {
    display: none;
}

/* 羽木原ユミサ */
div#YumisaHagiwara {
    display: none;
}

/* 秦野結 */
div#YuiHatano {
    display: none;
}

/* 平井タルスィ */
div#TarseeHirai {
    display: none;
}

/* 平本忘太 */
div#WasutaHiramoto {
    display: none;
}

/* 堀小理女 */
div#OrimeHori {
    display: none;
}

/* 干寺幽美故／シーリェス・フォーレシュ */
div#YumikoHoshidera {
    display: none;
}

/* 蓬莱寺燐音 */
div#RinneHouraiji {
    display: none;
}

/* 皇甫救兔 */
div#HuangfuJiutu {
    display: none;
}

/* 伊豐芥之介 */
div#AkutanosukeIde {
    display: none;
}

/* 伊豐ちゆり */
div#ChiyuriIde {
    display: none;
}

/* イマカサ聡一郎 */
div#SouichirouImakasa {
    display: none;
}

/* 犬上藤 */
div#FudjiInugami {
    display: none;
}

/* 犬上波知之 */
div#HachiyukiInugami {
    display: none;
}

/* 犬上雲雀代 */
div#HibariyoInugami {
    display: none;
}

/* 犬上かをる */
div#KaoruInugami {
    display: none;
}

/* 犬上茂和 */
div#ShigekazuInugami {
    display: none;
}

/* 出水龍也 */
div#TatsuyaIzumi {
    display: none;
}

/* 金田しの */
div#ShinoKaneda {
    display: none;
}

/* 片桐正美子 */
div#MamikoKatagiri {
    display: none;
}

/* 傍島恵二狸 */
div#EjiriKatashima {
    display: none;
}

/* 菊乃井蝶々花夢 */
div#ChochohanamuKinoi {
    display: none;
}

/* 杵島也紀 */
div#YakiKishima {
    display: none;
}

/* 杵島裕郎 */
div#YuurouKishima {
    display: none;
}

/* 北河英志 */
div#EishiKitagawa {
    display: none;
}

/* 釘宮魅子 */
div#MiikoKugimiya {
    display: none;
}

/* 倉田文 */
div#AyaKurata {
    display: none;
}

/* 楠本多々介 */
div#TadasukeKusumoto {
    display: none;
}

/* 松原熏 */
div#EveMatsubara {
    display: none;
}

/* 美姫礫 */
div#KoishiMiki {
    display: none;
}

/* 宮原正志 */
div#MasashiMiyahara {
    display: none;
}

/* 本沢乙女 */
div#OtomeMotozawa {
    display: none;
}

/* 永田いく */
div#IkuNagata {
    display: none;
}

/* 中谷萌々子 */
div#MomokoNakadani {
    display: none;
}

/* 西霧儀子 */
div#NorikoNishikiri {
    display: none;
}

/* 大佐田明 */
div#AkiraOhsada {
    display: none;
}

/* 大崎静香 */
div#ShizukaOsaki {
    display: none;
}

/* 大沢圭介 */
div#KeisukeOzawa {
    display: none;
}

/* 緑田瑠珠 */
div#LumiRokuda {
    display: none;
}

/* 西園寺キット */
div#KitSaionji {
    display: none;
}

/* 阪田源之 */
div#MotoyukiSakada {
    display: none;
}

/* 坂河リサコ */
div#RisakoSakagawa {
    display: none;
}

/* 榊原富魅雄 */
div#FumioSakakibara {
    display: none;
}

/* 櫻雨思乃 */
div#ShinoSakurasame {
    display: none;
}

/* 桜崎ふみゑ */
div#FumieSakurazaki {
    display: none;
}

/* 鮫島一美 */
div#KazumiSamejima {
    display: none;
}

/* 佐々城美奈 */
div#MinaSasaki {
    display: none;
}

/* 瀬里沢さくら */
div#SakuraSerizawa {
    display: none;
}

/* 渋藤里沙 */
div#RisaShibutou {
    display: none;
}

/* 島村秀雄 */
div#HideoShimamura {
    display: none;
}

/* 笹川あっ子 */
div#AkkoShinogawa {
    display: none;
}

/* 笹川伊狸沙 */
div#ShinogawaNoIrisa {
    display: none;
}

/* 笹川居世神之命 */
div#ShinogawaNoIsegamiNoMikoto {
    display: none;
}

/* 笹川翠偽尊 */
div#ShinogawaNoMidoriNoNiseMikoto {
    display: none;
}

/* 笹川沖美 */
div#OkimiShinogawa {
    display: none;
}

/* 笹川治虫偽尊 */
div#ShinogawaNoOsamuNoNiseMikoto {
    display: none;
}

/* 笹川祐二 */
div#YuujiShinogawa {
    display: none;
}

/* 白樹權二郎 */
div#KenjirouShiraki {
    display: none;
}

/* 士田原コウコ */
div#KoukoShitahara {
    display: none;
}

/* 卒麗田讓魔 */
div#JohmaSotsureita {
    display: none;
}

/* 杉田麻由美 */
div#MayumiSugita {
    display: none;
}

/* 田香羅皐戎傘 */
div#KoujuugasaTakara {
    display: none;
}

/* 田香羅さつき */
div#SatsukiTakara {
    display: none;
}

/* 田香羅由佳理 */
div#YukariTakara {
    display: none;
}

/* ツボイケりり娘 */
div#LilikoTsuboike {
    display: none;
}

/* 月藤理惠 */
div#RieTsukitou {
    display: none;
}

/* 梅林楓 */
div#KaedeUmebayashi {
    display: none;
}

/* 若泉容伸 */
div#YasunobuWakaizumi {
    display: none;
}

/* 夜神幽乃 */
div#YuunoYagami {
    display: none;
}

/* 夜雲率子 */
div#RitsukoYakumo {
    display: none;
}

/* 豪猪依智恵 */
div#YorichieYamaarashi {
    display: none;
}

/* 張靈尋 */
div#ZhangLingxin {
    display: none;
}

/* ------------------------------------------------------------------------- */

/* 中士里市 */
div#NakashisatoCity {
    display: none;
}

/* 黒川タリィ */
div#TareeKurokawa {
    display: none;
}

/* 水谷梓 */
div#AzusaMizutani {
    display: none;
}

/* 仲冨ユーマ */
div#YuumaNakatomi {
    display: none;
}

/* 大上小猫 */
div#KonekoOgami {
    display: none;
}

/* 岡崎吉三郎 */
div#KichisaburouOkazaki {
    display: none;
}

/* 高橋哲行 */
div#TetsuyukiTakahashi {
    display: none;
}

/* 山根晴伸 */
div#HarunobuYamane {
    display: none;
}

/* ------------------------------------------------------------------------- */

/* 木駒本市 */
div#KikomamotoCity {
    display: none;
}

/* 百井雛子 */
div#HinakoMomoi {
    display: none;
}

/* 中園モヽ */
div#NakazonoNoMomo {
    display: none;
}

/* 小笠原まどか */
div#MadokaOgasawara {
    display: none;
}

/* 小笠原里琴 */
div#RikoOgasawara {
    display: none;
}

/* 奧山リス */
div#RisuOkuyama {
    display: none;
}

/* 宇佐見はずき */
div#HazukiUsami {
    display: none;
}

/* 八野三十三 */
div#SatomiYano {
    display: none;
}

/* ------------------------------------------------------------------------- */

/* クヴィーカシルヴィウル村 */
div#KvikasilfurVillage {
    display: none;
}

/* 傘羅けゐ */
div#KewiKasara {
    display: none;
}

/* 迄抄丸 */
div#kisshoumaru {
    display: none;
}

/* 曽田小笠 */
div#KogasaSota {
    display: none;
}

/* 丈縄りせ */
div#RiseTakenawa {
    display: none;
}

/* ------------------------------------------------------------------------- */

/* バルフカント町 */
div#BalkhkantTown {
    display: none;
}

/* ポラン・ドホト・ラスティニー */
div#PoranDokhtRastini {
    display: none;
}

/* キョマルス・ラジョイー */
div#QiomarsRajoi {
    display: none;
}

/* ハシュヤル・スライモニー */
div#KhashyarSulaymoni {
    display: none;
}

/* パリロブ・ファルフザディー */
div#ParirowFarrukhzadi {
    display: none;
}

/* ジャハンシャハ・ホマナイー */
div#JahanshahKhomanai {
    display: none;
}

/* サマン・フマイニー */
div#SamanKhumayni {
    display: none;
}

/* ネガ・ジャハンギリー */
div#NeghaJahangeeri {
    display: none;
}

/* ホジャスタ・ジャハンシャヒー */
div#KhojastaJahanshahi {
    display: none;
}

/* ゴンチェハ＝シャハリナズ・シャハバジー */
div#GhonchehShahrnazShahbazi {
    display: none;
}

/* ホシュマンド＝シュハブ・シャハロイー */
div#HoushmandShuhabShahloi {
    display: none;
}

/* ------------------------------------------------------------------------- */

/* ザファラフシャン町 */
div#ZafaravshanTown {
    display: none;
}

/* ルズベヘ・メヘランギー */
div#RoozbehMehrangi {
    display: none;
}

/* ホスロブ・サラリー */
div#KhosrowSalari {
    display: none;
}

/* ザルドゥシュト・キャヌシー */
div#ZardushtKianooshi {
    display: none;
}

/* マヌチェハル・バルシャスビー */
div#ManucheharVarshasbi {
    display: none;
}

/* ホシャング・アノシルバニー */
div#HoshangAnoushirvan {
    display: none;
}

/* ハンガハマ・フマヨニー */
div#HangahmaHumayoni {
    display: none;
}

/* ホルシド・ニルファル・シャヒニー */
div#KhorsheedNeelufarShaheeni {
    display: none;
}

/* リリー・カイホスロビー */
div#LilyKaikhosrowi {
    display: none;
}

/* ギソ・イラジー */
div#GeesouIraji {
    display: none;
}

/* アフスン・アラシー */
div#AfsoonArashi {
    display: none;
}

/* ------------------------------------------------------------------------- */

/* フジュディヨン町 */
div#KhujdiyonTown {
    display: none;
}

/* ソロシュ・ダルユシー */
div#SoroushDaryushi {
    display: none;
}

/* ルフシャン・シナイー */
div#RukhshanSinai {
    display: none;
}

/* パルバゼ・ファラジー */
div#ParwaazeFarazi {
    display: none;
}

/* ファルハド・シャヤイー */
div#FarhadShayai {
    display: none;
}

/* ブズルグメヘル・クバディー */
div#BuzurgmehrQubadi {
    display: none;
}

/* サガル・タハマセビー */
div#SagharTahmasebi {
    display: none;
}

/* カタヨン・ギティ・フダダディー */
div#KatayounGitiKhudaDadi {
    display: none;
}

/* パリチェヘル・アシュカニー */
div#ParicheherAshkani {
    display: none;
}

/* シャハルバノ・フライドゥニー */
div#ShahrbanoFraiduni {
    display: none;
}

/* グルネッサ・ヤサマン・ルスタミー */
div#GulneesaYasamanRustami {
    display: none;
}

/* ------------------------------------------------------------------------- */

/* ウーパールーパーの里 */
div#AldeaDeLosAjolotes {
    display: none;
}

/* アダン・アラゴン・イ・ラベリノ */
div#AdanAragonRavelino {
    display: none;
}

/* ミレヤ・カルピンテロ・チャルペンティエル・イ・ヌニェス */
div#MireyaCarpinteroCharpentierNunez {
    display: none;
}

/* ウフエ・チェロ・イ・ドゥラン */
div#UxueCherroDuran {
    display: none;
}

/* インマクラダ・ドミンゲス・イ・ギスタイン */
div#InmaculadaDominguezGistain {
    display: none;
}

/* ホルヘ・フアレス・イ・サンチェス */
div#JorgeJuarezSanchez {
    display: none;
}

/* ヒメナ・リグエレ・イ・オルドニェス */
div#JimenaLiguerreOrdonez {
    display: none;
}

/* ホゼ・オカニャ・イ・アビラ */
div#JoseOcanaAvila {
    display: none;
}

/* サンティアゴ・ニル・パハレロ・イ・ゲレロ */
div#SantiagoNilPajareroGuerrero {
    display: none;
}

/* マリア・デルカルメン・ピエドラブエナ・イ・セディロ */
div#MariaDelCarmenPiedrabuenaCedillo {
    display: none;
}

/* ライア・ピエドラブエナ・イ・リグエレ */
div#LaiaPiedrabuenaLiguerre {
    display: none;
}

/* サライ・ピエドラブエナ・イ・リグエレ */
div#SarayPiedrabuenaLiguerre {
    display: none;
}

/* グイレルモ・テヘロ・イ・フステ・イ・ペレス */
div#GuillermoTejeroFustePerez {
    display: none;
}
