/* ====== Header ====== */
header {
    text-align: left;
    font-family: 'Tinos', 'Times New Roman', 'Noto Serif Display', serif;
}

/* ====== Main body ====== */
main {
    contain: content;
}

/* ====== Infobox ====== */

div#Infobox {
    float: right;
    border-style: groove;
    border-color: #efefef;
    border-width: 8px;
    width: 280px;
    margin: 16px;
    padding: 4px;
}

/* ------ Title ------ */

div#InfoboxTitle {
    text-align: center;
    font-weight: bold;
}

/* ------ Image ------ */

div#InfoboxImage {}

img#MainImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 256px;
}

/* ------ Infobox section names ------ */

span#JapaneseNameTitle,
span#OtherNameTitle {
    font-weight: bold;
}

/* ====== Contents ====== */

nav#Contents {
    float: left;
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
    font-size: 19px;
    max-width: 300px;
    margin: 16px;
    padding: 4px;
    border-style: inset;
    border-color: #efefef;
    border-width: 4px;
}

summary#ContentsDropdown {
    font-weight: bold;
}

a.contents-item {
    font-size: 19px;
}

/* ====== Section title ====== */

h2.section-title {
    text-align: left;
    font-family: 'Tinos', 'Times New Roman', 'Noto Serif', serif;
}

/* ====== Section styles ====== */
section#Lead {
    contain: content;
}

/* ====== Return to top ====== */
a#ReturnToTop {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
    font-size: 20px;
}
